{% extends "website/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div id = "block5">
            <div id = "about-title">About Me</div>
        </div>
        <div id = "block6"></div>
        <div id = "block7">
            <div id = "hm">
                {{side_text}}
            </div>
            <img id = "thinking-img" src = "{% static 'website/media/thinking.png' %}"  alt = "Hm...">
        </div>
        <div id = "me">
            <img id = "me-img" src = "{% static 'website/media/me.png' %}"  alt = "Me!">
        </div>
        <div id = "about-intro">
            {{main_text}}
        </div>
    </div>
    
{% endblock %}

{% block script%}
    <script src = "{% static 'website/navbar.js' %}"></script>
{% endblock %}

