{% extends "website/layout.html" %}
{% load static %}

{% block body %}
    <div>
        <div id = "block5">
            <div id = "about-title">About Me</div>
        </div>
        <div id = "block6"></div>
        <div id = "block7">
            <div id = "hm">Do co-op employers even look at these side projects?? At least I have nothing better to do...
            </div>
            <img id = "thinking-img" src = "{% static 'website/media/thinking.png' %}"  alt = "Hm...">
        </div>
        <div id = "me">
            <img id = "me-img" src = "{% static 'website/media/me.png' %}"  alt = "Me!">
        </div>
        <div id = "about-intro">
            <span>
                Hi to whoever is reading this! My name is Kelly and I am an incoming first year to the Univerity of Waterloo in the Systems Design Engineering program.
            </span>
            <span>In order to prepare for my first co-op, my first project had been this dynamic website.</span>
            <span>All the items on the menu are actually things I like to make at home when I'm bored and I thought this was a fun way to showcase by baking while also sharpening my coding skills.</span>
            <span>This website uses a Django framework, SQL databases, and many coding languages (JavaScript, Python, HTML, CSS).</span>
            <span>Unfortunately, this website can't be published because I don't want to pay for a domain but hopefully you'll still be able to see how it works!</span>
        </div>
    </div>
    
{% endblock %}

{% block script%}
    <script src = "{% static 'website/navbar.js' %}"></script>
{% endblock %}

