{% extends "website/layout.html" %}
{% load static %}

{% block body %}

    {% if message%}
        <div>
            {{message}}
        </div>
    {% endif %}
    <br><br><br><br><br><br><br><br><br>
    <form action = "{% url 'register' %}" method = post>
        {% csrf_token %}
        <input autofocus type = "text" name = "username" placeholder = "Username">
        <input autofocus type = "text" name = "email" placeholder = "Email">
        <input autofocus type = "password" name = "password" placeholder = "Password">
        <input autofocus type = "password" name = "confirmation" placeholder = "Confirmation">
        <input type = "submit" value = "Register">
    </form>
{% endblock %}